$color-white: #ffffff;
$color-white-2: #fefefe;
$color-dark-grey-1: rgb(35, 35, 35, .9);
$color-dark-grey-2: #333333;
$color-medium-grey: #999999;
$color-light-grey: #e8e8e8;
$color-blue: #5474fd;
$color-light-blue: #00a2ff;
$color-red: #ff6363;
