.search-form {
    animation: moveInBottom 1s ease-out;
    -webkit-animation: moveInBottom 1s ease-out;

    &__input {
        border-radius: 0;
        border: none;
        width: 50rem;
        height: 6rem;
        padding: 2rem;
        text-align: center;
        color: $color-dark-grey-2;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.4rem;
        letter-spacing: .25rem;
        text-transform: capitalize;
        &:focus {
            outline: none;
            &::placeholder {
                visibility: hidden;
            }
        }
    }
    &__button {
        vertical-align: top;
        margin-left: -.3rem;
        border: .2rem solid $color-white;
        width: 15rem;
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
        fill: $color-white;
        vertical-align: middle;
    }
}