.search-form {
    animation: moveInBottom 1s ease-out;
    -webkit-animation: moveInBottom 1s ease-out;


    &__input {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        border-radius: 0;
        border: none;
        width: 30%;
        height: 6rem;
        padding: 2rem;
        text-align: center;
        color: $color-dark-grey-2;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.4rem;
        letter-spacing: .25rem;
        text-transform: capitalize;

        @include responsive(tab-port) {
            width: 50%;
        }

        @include responsive(phone) {
            width: 80%;
        }

        &:focus {
            outline: none;

            &::placeholder {
                visibility: hidden;
            }
        }
    }

    &__button {
        vertical-align: top;
        margin-left: -.3rem;
        border: .2rem solid $color-white;
        width: 15rem;

        @include responsive(phone) {
            display: block;
            margin: auto;
            width: 80%;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
        fill: $color-white;
        vertical-align: middle;
    }
}