// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include responsive(tab-land) {
    font-size: 56.25%;
  }

  @include responsive(tab-port) {
    font-size: 55%;
  }

  @include responsive(phone) {
    font-size: 55%;
  }

  @include responsive(big-desktop) {
    font-size: 75%;
  }

}

body {
  box-sizing: border-box;
  padding: 1.5rem;
  font-family: 'Aleo', serif;

  @include responsive(tab-port) {
    padding: 0;
  }
}

//Basic styles for links

a {
  text-decoration: none;
  color: $color-white;
}

//Basic style for unordered lists

ul {
  list-style-type: none;
}